@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Space Grotesk";
    src: url("assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype")
}

body{
   font-family: 'Space Grotesk';
}
p, span{
    @apply text-white-dark;
    font-size: 18px;
    line-height: 28px;
}
.heading-xl{
    @apply text-white-light;
    font-size: 88px;
    line-height: 88px;
    letter-spacing:-2.5px;
}
.heading-l{
    @apply text-white-light;
    font-size: 48px;
    line-height: 56px;
    letter-spacing:-1.5px;
}
.heading-m{
    @apply text-white-light;
    font-size: 24px;
    line-height: 32px;
}
